body {
    background-color:  #000000;
    color           :  #FFFFFF;
    font-family     :  Courier New, Courier, monospace;
 /* white-space     :  pre; */
}

canvas {
    border          :  1px solid #808080;
    background-color:  transparent;
    display         :  block;
    margin          :  auto;
}
